body { margin: 0 }
img { max-width: 100% }
svg { max-height: 100% }

// html, body {
// position: fixed;
// }

body {
  color: #000;
  background:#FFF;
  font-family: $font-family;
  font-weight:normal;
  line-height: $line-height;
  font-size: 100%;
  //border-left:20px solid #FFF858;  


}


.inputsansthin {
  font-family: "Input Sans Thin";
  font-style: normal;
  font-weight: normal;
}


.inputsanslight {
  font-family: "Input Sans Light";
  font-style: normal;
  font-weight: normal;
}


.fw-300 {
  font-weight:400;
}




p {
  hyphens: none;
  margin-bottom: $space-3-4;
}



p > .h1 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: 1em;
  margin-bottom: .5em;
}




.center-top {
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}



small, .small 
{ font-size: .85em; }


blockquote em {
  color:#9ca2ad;
  font-style: normal;
  font-size:15px;
  margin-top:10px;
  display:block;
  text-align:left;
}

blockquote em a {
  color:#9ca2ad;
}


.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}



.wrap {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 32px 5% 64px 5%;
}



.mt {margin-top:64px;}


.post img { max-width: 100%; }

.post .post-copy {width:100%;float:none;margin-left:0;}
.post .post-thumb {height:150px;display:block;}
.post .post-thumb img {width:100%;}


.center { text-align: center; }
.fl { float: left; }
.fr { float: right; }

.gray { color: #999; }



.t-underline {

  color:#151515;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, #151515), color-stop(95%, transparent), color-stop(84%, transparent));
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, #151515 96%, #151515 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, #151515 96%, #151515 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, #151515 96%, #151515 100%);
  background-image: linear-gradient(to bottom, transparent 94%, #151515 96%, #151515 100%);

}

$link-underlin-color: $blue;
.a-underline {
    background-image: none;
    text-decoration:none;
    color:$link-underlin-color;
  
  // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, $link-underlin-color), color-stop(95%, transparent), color-stop(84%, transparent));
  // background-image: -webkit-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  // background-image: -moz-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  // background-image: -o-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  // background-image: linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
}


.a-underline.type-link {
  color: $blue;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, $blue), color-stop(95%, #fdfdfd), color-stop(84%, transparent));
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, $blue 96%, $blue 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, $blue 96%, $blue 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, $blue 96%, $blue 100%);
  background-image: linear-gradient(to bottom, transparent 94%, $blue 96%, $blue 100%);
}


.a-underline:hover {
  text-decoration:none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, $link-underlin-color), color-stop(95%, transparent), color-stop(84%, transparent));
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);
  background-image: linear-gradient(to bottom, transparent 94%, $link-underlin-color 96%, $link-underlin-color 100%);  
}


.no-hover {
  background-image: none !important;
  text-decoration:none !important;
}



$selected-underlin-color: $blue;
.selected {
  text-decoration: none;
  color:$selected-underlin-color;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, $selected-underlin-color), color-stop(95%, transparent), color-stop(84%, transparent));
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, $selected-underlin-color 96%, $selected-underlin-color 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, $selected-underlin-color 96%, $selected-underlin-color 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, $selected-underlin-color 96%, $selected-underlin-color 100%);
  background-image: linear-gradient(to bottom, transparent 94%, $selected-underlin-color 96%, $selected-underlin-color 100%);
}











@media screen and (max-width: 639px) {

  blockquote,
  blockquote p {
    font-size: $h4;
    font-style: italic;
  }


}



.panel-1  {

  background-color:#262626;
  color:#C7C7C7;
    
}

.logo path {
  fill: #151515;
}


    #holder_measurement {
      position: absolute;
      height:100%;
      width:100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
    }

    #three_canvas_holder {
/*      background-color: #09f; */
      background-image:url("/images/saint.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height:100%;
      width:100%;
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
    }

/*
    #three_canvas_holder.mix_blend {
      background-color: transparent;
      mix-blend-mode: screen;
    }
*/

    #three_canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
/*      mix-blend-mode: screen; */
      margin: auto;
    }

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .95);
    z-index: 9999
}

.overlay-cell {
    width: 100%;
    height: 100%;
    vertical-align: middle
}

.overlay .overlay-inner {
    width: 100%;
    padding: 110px 0 0 25px;
    text-align: left;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    float: left
}

.overlay .overlay-inner ul li a.facebook:hover {
    color: #3B5998
}

.overlay .overlay-inner ul li a.twitter:hover {
    color: #4099ff
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto 30px;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%
}

.overlay ul li {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 15px;
    font-weight: 200;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .1s, visibility 0s .2s;
    transition: transform .3s, opacity .1s, visibility 0s .2s;
    -webkit-transform: translate3d(0, -300%, 0);
    transform: translate3d(0, -300%, 0)
}

.overlay ul li:last-child {
    margin: 0
}

.overlay ul li a.current,
.overlay ul li a:hover {
    color: #e94767
}

.overlay ul li a {
    display: block;
    color: #2a2a29;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.overlay {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .4s ease-in-out, visibility 0s .4s;
    transition: transform .4s ease-in-out, visibility 0s .4s
}



    .open .overlay ul li:first-child {
        -webkit-transition-delay: .35s;
        transition-delay: .25s
    }
    .open .overlay ul li:nth-child(2) {
        -webkit-transition-delay: .3s;
        transition-delay: .2s
    }
    .open .overlay ul li:nth-child(3) {
        -webkit-transition-delay: .25s;
        transition-delay: .15s
    }
    .open .overlay ul li:nth-child(4) {
        -webkit-transition-delay: .2s;
        transition-delay: .1s
    }
    .open .overlay ul li:nth-child(5) {
        -webkit-transition-delay: .15s;
        transition-delay: .1s
    }
    .open .overlay ul li:nth-child(6) {
        -webkit-transition-delay: .1s;
        transition-delay: .1s
    }
    .open .overlay ul li:last-child {
        -webkit-transition-delay: .05s;
        transition-delay: .05s
    }
    .open .overlay ul li {
        visibility: visible;
        opacity: 1;
        -webkit-transition: -webkit-transform .7s, opacity .1s .7s;
        transition: transform .7s, opacity 1s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .open .overlay {
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: -webkit-transform .4s ease-in-out;
        transition: transform .4s ease-in-out
    }





.fn-section {
  display:none;
}


body.section-about .section-about,
body.section-process .section-process,
body.section-clients .section-clients,
body.section-contact .section-contact {
  display:block;
   -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




// Responsive Type


/* Basscss Responsive Margin */

@media #{$breakpoint-xs} {

.h1 { font-size: 6vw; }

.h0 { font-size: $h1;}

}


@media #{$breakpoint-sm} {



}

@media #{$breakpoint-md} {



}

@media #{$breakpoint-lg} {



}





