<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="section-about akkurat">
    <div id="holder_measurement"></div>
    <div id="three_canvas_holder"></div>


    <div class="max-width-4 mx-auto">    
      
      <div class="clearfix">
        <div class="sm-col-10 mx-auto">
          <div class="px3 py3 sm-px3 sm-py3">
      
          
          {% include header.html %}

          {{ content }}

        </div> <!-- /padding -->

    
      </div> <!-- /column -->
      </div> <!-- /clearfix -->

      
      {% include footer.html %}
    </div> <!-- //max-width-4  -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <script src="/js/lib/three.min.js"></script>
    <script src="/js/lib/OBJLoader.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
