<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="xsm-p3 xp2">


    <div id="container"></div>  

    <script src="js/three/three.min.js"></script>

    <script src="js/three/OrbitControls.js"></script>
    <script src="js/three/Detector.js"></script>
    <script src="js/three/stats.min.js"></script>
    <script src="js/three/BinaryLoader.js"></script>

    <script src="js/three/ColladaLoader.js"></script>
    <script src="js/three/OBJLoader.js"></script>

    <script type="text/javascript" src="js/three/TweenMax.min.js"></script>


    <div class="max-width-4">    
      
      <div class="mb4 mt4">



        <div class="img-responsive">


          <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1000 165" style="enable-background:new 0 0 1000 165;" xml:space="preserve">
          <path d="M21.6,65.7H9.1c-2.8,0-4.8-2.6-4.3-5.4l2-12.8c0.6-3.1,2.6-5.4,5.4-5.4H25l4.3-31.5c0.3-2.8,3.1-5.4,5.7-5.4L52.2,5
            c2.6,0,4.3,2.6,4,5.4l-4.5,31.8h24.4c2.8,0,4.8,2.3,4.3,5.4l-2,12.8c-0.6,2.8-2.6,5.4-5.4,5.4H48.3l-7.7,55.9
            c-1.4,9.6,2,11.3,6.5,11.3c4.8,0,11.6-3.4,14.8-5.1c3.4-1.7,4.8,0,5.4,2.6l3.1,12.8c0.9,3.1-0.9,5.1-3.4,6.8
            c-2.3,1.4-19,8.5-31.2,8.5c-20.1,0-25.2-13.6-22.4-33.8L21.6,65.7z"/>
          <path d="M157.8,39.4c21.3,0,38,11.3,38,32.3c0,32.3-45.4,37.2-75.2,33.8c-1.4,15.3,6.2,29.2,22.1,29.2c8.5,0,17.6-4.3,23-7.9
            c3.1-2,4.8-2.8,6.8-0.3l7.7,10.5c1.7,2.3,2,4.8-1.4,7.4c-8.8,7.1-23,14.2-40,14.2c-27.5,0-44.3-23-44.3-50.8
            C94.5,71.7,119.8,39.4,157.8,39.4z M170.2,73.1c0-7.4-7.4-11.9-15.3-11.9c-15.6,0-26.7,11.1-30.1,25.2
            C140.7,87.9,170.2,89.6,170.2,73.1z"/>
          <path d="M272.4,39.4c25.5,0,44.3,23.8,44.3,51.3c0,36.6-26.4,67.8-61,67.8c-24.7,0-44.3-23.5-44.3-51.9
            C211.4,70.3,238,39.4,272.4,39.4z M291.1,93.5c0-16.2-8.8-29.5-22.1-29.5c-16.7,0-32.1,18.2-32.1,40.3c0,16.2,8.8,29.8,22.1,29.8
            C275.8,134.1,291.1,115.7,291.1,93.5z"/>
          <path d="M333.1,140.9l6.5-10.8c1.4-2,3.7-3.1,6.2-1.4c3.1,2,9.6,6.8,22.1,6.8c7.1,0,13.9-4,13.9-11.3c0-6.2-4.5-10.2-15.6-16.7
            c-13.9-8.2-25-17.6-25-33.2c0-16.5,11.6-34.9,41.1-34.9c14.8,0,25,5.1,29.8,8.8c2.8,2.3,3.1,5.4,1.1,8.2L408,66
            c-1.7,2.6-4.8,3.4-6.8,2.3c-2.3-1.1-9.6-5.4-20.7-5.4c-8.8,0-12.8,4.5-12.8,9.6c0,6.2,5.1,9.6,13.3,14.5c16.2,9.4,28.9,17,28.9,34.6
            c0,20.4-15,36.9-43.4,36.9c-16.2,0-27.8-7.1-32.9-11.6C332.2,145.7,331.4,143.2,333.1,140.9z"/>
          <path d="M527.9,150.3c-0.3,2.8-3.1,5.4-5.7,5.4h-9.4c-2,0-3.4-1.1-3.7-4l-0.9-8.5c-2,2-16.2,15.3-34.9,15.3
            c-23.8,0-40.8-23.3-40.8-51.9c0-35.5,25.8-67.2,57-67.2c17,0,27.8,11.1,30.1,13.9l3.7-7.1c1.1-2.3,3.1-4,5.4-4h8.5
            c2.6,0,4.3,2.6,4,5.4L527.9,150.3z M511.2,76.8c0,0-7.9-12.8-22.7-12.8c-18.2,0-28.9,18.7-28.9,42.3c0,15.9,7.7,27.8,21.3,27.8
            c14.2,0,24.4-15.3,25.5-17.6L511.2,76.8z"/>
          <path d="M578.7,47.6c0.3-2.8,2.6-5.4,5.7-5.4h8.5c2,0,3.4,1.4,3.7,3.4l2,9.6c2.8-2.6,17.9-15.9,38-15.9c31.8,0,40.3,24.4,36.3,53.9
            l-7.9,57c-0.3,2.8-3.1,5.4-5.7,5.4H642c-2.8,0-4.3-2.6-4-5.4l7.9-57.9c2.6-18.2-3.1-28.4-15.9-28.4c-14.8,0-26.7,13-28.9,16.5
            l-9.9,69.8c-0.6,3.7-2,5.4-7.1,5.4h-15.6c-2.6,0-4.5-2.6-4-5.4L578.7,47.6z"/>
          <path d="M718,65.7h-12.5c-2.8,0-4.8-2.6-4.3-5.4l2-12.8c0.6-3.1,2.6-5.4,5.4-5.4h12.8l4.3-31.5c0.3-2.8,3.1-5.4,5.7-5.4L748.6,5
            c2.6,0,4.3,2.6,4,5.4l-4.5,31.8h24.4c2.8,0,4.8,2.3,4.3,5.4l-2,12.8c-0.6,2.8-2.6,5.4-5.4,5.4h-24.7l-7.7,55.9
            c-1.4,9.6,2,11.3,6.5,11.3c4.8,0,11.6-3.4,14.7-5.1c3.4-1.7,4.8,0,5.4,2.6l3.1,12.8c0.9,3.1-0.8,5.1-3.4,6.8
            c-2.3,1.4-19,8.5-31.2,8.5c-20.1,0-25.2-13.6-22.4-33.8L718,65.7z"/>
          <path d="M912.6,140.9l6.5-10.8c1.4-2,3.7-3.1,6.2-1.4c3.1,2,9.6,6.8,22.1,6.8c7.1,0,13.9-4,13.9-11.3c0-6.2-4.5-10.2-15.6-16.7
            c-13.9-8.2-25-17.6-25-33.2c0-16.5,11.6-34.9,41.1-34.9c14.7,0,25,5.1,29.8,8.8c2.8,2.3,3.1,5.4,1.1,8.2l-5.4,9.6
            c-1.7,2.6-4.8,3.4-6.8,2.3c-2.3-1.1-9.6-5.4-20.7-5.4c-8.8,0-12.8,4.5-12.8,9.6c0,6.2,5.1,9.6,13.3,14.5c16.2,9.4,28.9,17,28.9,34.6
            c0,20.4-15,36.9-43.4,36.9c-16.2,0-27.8-7.1-32.9-11.6C911.8,145.7,910.9,143.2,912.6,140.9z"/>
          <path d="M849.5,14.7c-31.8,0-57.3,27.2-57.3,59.3c0,17.9,7.7,34.2,19.9,45.2c0.7,0.5,1.2,2.7,1.7,2.8c2.7-3.2,21.4-3.9,15.5-17.7
            c-1-2.2-2.2-4.6-3.9-6.9l0.1,0c-5-6.3-8-14.5-8-23.5c0-19,14.2-34.6,32.1-34.6S881.6,55,881.6,74c0,9-3,17.3-8.1,23.5l0.1,0
            c-1.7,2.3-3,4.7-3.9,6.9c-5.9,13.7,13.3,14.9,15.1,17.5c0.5-0.1,1.4-2,2.1-2.5c12.3-11,20-27.4,20-45.3
            C906.8,41.9,881.3,14.7,849.5,14.7z"/>
          </svg>

        </div>





      </div>

      <div class="clearfix">

      
        <div class="sm-col-10 mb3">
          <p class="h3 fw-300"><em>Teosantos is an experimental design laboratory of creative and novel ideas. Both a physical space and state of mind, Teosantos operates with experiments and inquisitive play where ideas, art, self­expression, identity and commerce collide. This intersection generates strategies and processes that produce daring concepts, experiences, tools and products, which focus on engaging audiences in inquiry and imagination.</em></p>
        </div>

    

      </div>


      <div class="clearfix">

    
    <div class="mb4">

      <a href="#clients">clients</a>

      <a href="#contact">contact</a>

    </div>



        <div class="sm-col-8 mb4">

        <h2 class="h0">Modus Operandi</h2>



        <p><em class="h1">Observe</em><br /> Look carefully at the challenge at hand and explore both micro and macro contexts for a fuller perspective. Bring an open mind to research, readings and observations.</p>



        <p><em class="h1">Inquire</em><br /> Ask sagacious questions that facilitate meaningful dialogue and creative exploration.</p>
        

        <p><em class="h1">Play & Generate</em><br /> Enjoy the process generating ideas and solutions. Play some music, bring out your favorite pens, pencils, and color markers, scissors, clay – and anything you need to map the future and expressions of those ideas. Have fun. Let the bliss of inspiration take over you and the challenge at hand (warning: this may lead to dancing and drawing, don’t be scared, unimaginable solutions come when we let go and enjoy the process).</p>


        <p><em class="h1">Define & Strategize</em><br /> Put a stake in the ground. Visualize your dreams, aspirations and the impact you want to create. Map your actions and the steps that can help bring your idea to life.</p>


        <p><em class="h1">Edit</em><br /> Meditate on and synthesize all your ideas. Bring them down to earth so they can happen in this lifetime. Vet them against your goals and aspirations for impact. Set concious constraints in accordance to variables sensible to your time and resources.</p>


        <p><em class="h1">Make</em><br /> Start building. Execute your vision to the best of your ability and resources. Compromise is a powerful ally, not the driving force­­ it brings you closer to your goals.</p>


        <p><em class="h1">Share</em><br /> Put your idea into the world. Overcome fear and let the world test your assumptions. Ask for feedback – take it in, evaluate it.</p>

        
        <p><em class="h1">Iterate</em><br /> Maintain your vision and improve on the tactics and execution. Learn; keep making and shipping. Be happy and proud ­­ you are bringing meaningful ideas to this world.</p>


        </div>


      </div> <!-- /.clearfix -->


      <div class="max-width-4 mb4">




      <div class="clearfix" id="clients">

      
        <h3 class="h0">Clients</h3>

        <div class="sm-col sm-col-4">
          <ul class="mb0 mt0">
            <li>AOL</li>
            <li>Benjamin Moore</li>
            <li>Bloomingdale's</li>
            <li>Coca­Cola</li>
            <li>Computer Associates</li>
            <li>Google</li>
          </ul>
        </div>


        <div class="sm-col sm-col-4">
          <ul class="mb0 mt0">
            <li>Johnson & Johnson</li>
            <li>Macy’s</li>
            <li>Moleskine</li>
            <li>Eleven Lola</li>
            <li>Figliulo & Partners</li>
          </ul>
        </div>

        <div class="sm-col sm-col-4">
          <ul class="mb0 mt0">
            <li>Nokia</li>
            <li>NBCU</li>
            <li>Principled Design</li>
            <li>RAPP</li>
            <li>W2O</li>
            <li>Walmart</li>
          </ul>
        </div>                

    

      </div>

      </div>







      <div class="max-width-4 mb4">




      <div class="clearfix" id="contact">

      
        <h3 class="h0">Contact</h3>

        <div class="sm-col-6">
          email: <a href="mailto:hola@teosantos.com">hola@teosantos.com</a>

          <br />
          <br />

          <strong>Address</strong><br />
          75 Hudson Ave. Studio C.</br />
          Brooklyn, NY 11211          
        </div>
            

    

      </div>

      </div>









    </div>


<script>

      if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

      var container, stats;

      var views, scene, renderer;

      var mesh, group1, group2, group3, light;

      var mouseX = 0, mouseY = 0;

      var windowWidth, windowHeight;

      var dpr = window.devicePixelRatio || 1;

      var dis=0//200;
      var speed= 0.06
      var max=1050;
      var camaroMaterials
      var dis2=new THREE.Vector3( 0, 0, 0 );
      var fullWidth = window.innerWidth;
      var fullHeight = window.innerHeight;
      var mainMaterials;
      var mesh;
      var textureCube;
      var dae;
      var cubeMesh
var cubeMaterial

      var oof =true;
      var diffColors = false;
      var animating=false;
      var blackBg = 0;
      var shader


      var views = [
        {
          // bottom left

          left: 0,
          bottom: 0,
          width: 0.5,
          height: 0.5,
          background: 0xFFFFFF,//0x5f3b1a*blackBg,//new THREE.Color().setRGB( 0.1, 0.5, 0.7 ),
          eye: [ 0, 0, 1000 ],
          up: [ 0,1,0 ],
          fov: 50,
          updateCamera: function ( camera, scene, mouseX, mouseY ) {
            if(diffColors&&mainMaterials)mainMaterials.materials[ 0 ] = camaroMaterials.body["Gold"];
            if(oof)camera.setViewOffset( fullWidth, fullHeight, 0,fullHeight/2, fullWidth/2, fullHeight/2 );
          }
        },
        { 
          //bottom right
          left: 0.5,
          bottom: 0,
          width: 0.5,
          height: 0.5,
          background: 0xFFFFFF,//0x953e0e*blackBg,//new THREE.Color().setRGB( 0.7, 0.5, 0.5 ),
          eye: [ 0, 0, 1000 ],
          up: [ 0,1,0],
          fov: 50,
          updateCamera: function ( camera, scene, mouseX, mouseY ) {
            if(diffColors&&mainMaterials)mainMaterials.materials[ 0 ] = camaroMaterials.body["Orange"];
            camera.scale.x=-1
            light.position.negate()
            if(oof)camera.setViewOffset( fullWidth, fullHeight, fullWidth/2, fullHeight/2, fullWidth/2, fullHeight/2 );
          }
        },
        {
          // top left

          left: 0,
          bottom: 0.5,
          width: 0.5,
          height: 0.5,
          background: 0xFFFFFF,//0x717384*blackBg,//new THREE.Color().setRGB( 0.5, 0.5, 0.7 ),
          eye: [ 0, 0, 1000 ],
          up: [ 0,1,0 ],
          fov: 50,
          updateCamera: function ( camera, scene, mouseX, mouseY ) {
            if(diffColors&&mainMaterials)mainMaterials.materials[ 0 ] = camaroMaterials.body["White"];
            camera.scale.y=-1;
            light.position.negate()
            if(oof)camera.setViewOffset( fullWidth, fullHeight, 0, 0, fullWidth/2, fullHeight/2 );
          }
        },
        { 
          // top right
          left: 0.5,
          bottom: 0.5,
          width: 0.5,
          height: 0.5,
          background: 0xFFFFFF,//0x521b0f*blackBg,//new THREE.Color().setRGB( 0.5, 0.7, 0.7 ),
          eye: [ 0, 0, 1000 ],
          up: [ 0,1,0 ],
          fov: 50,
          updateCamera: function ( camera, scene, mouseX, mouseY ) {
            if(diffColors&&mainMaterials)mainMaterials.materials[ 0 ] = camaroMaterials.body["Carmine"];
            camera.scale.x=-1
            camera.scale.y=-1;
            if(oof)camera.setViewOffset( fullWidth, fullHeight, fullWidth/2, 0, fullWidth/2, fullHeight/2 );
          }
        }
      ];

      init();
      animate();

      function init() {

        container = document.getElementById( 'container' );



        for (var ii =  0; ii < views.length; ++ii ) {

          var view = views[ii];
          camera = new THREE.PerspectiveCamera( view.fov, window.innerWidth / window.innerHeight, 1, 10000 );
          camera.position.x = 100// view.eye[ 0 ];
          camera.position.y = 20//view.eye[ 1 ];
          camera.position.z = -1000//view.eye[ 2 ];
          camera.up.x = view.up[ 2 ];
          camera.up.y = view.up[ 2 ];
          camera.up.z = view.up[ 2 ];
          view.camera = camera;
        }

        scene = new THREE.Scene();

      //var ambientLight = new THREE.AmbientLight(0xFFFFFF);
      //scene.add(ambientLight);

        light = new THREE.DirectionalLight( 0xffffff );
        light.position.set( 0, 0, 1 );
        scene.add( light );

        

        camaro();


        renderer = new THREE.WebGLRenderer( { antialias: false } );
        renderer.setSize( window.innerWidth, window.innerHeight );

        container.appendChild( renderer.domElement );



        controls = new THREE.OrbitControls( view.camera, renderer.domElement );
        controls.userPan = false;
        controls.userPanSpeed = 0.0;
        controls.center.set(0.0, 0.0, 0.0);
        controls.minDistance = 100.0;
        controls.maxDistance = 2000.0;
        controls.rotateSpeed=2.5
        controls.maxPolarAngle = Math.PI;
        controls.autoRotate=true;
        controls.autoRotateSpeed=1.1;

        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.top = '0px';
        //container.appendChild( stats.domElement );

        document.addEventListener( 'mousemove', onDocumentMouseMove, true );

      }



      // Find the right method, call on correct element
      function launchFullscreen(element) {
        if(element.requestFullscreen) {
          element.requestFullscreen();
        } else if(element.mozRequestFullScreen) {
          element.mozRequestFullScreen();
        } else if(element.webkitRequestFullscreen) {
          element.webkitRequestFullscreen();
        } else if(element.msRequestFullscreen) {
          element.msRequestFullscreen();
        }
      }

      function camaro(){


        var r = "images/";
        var urls = [ r + "saint.jpg", r + "saint.jpg",
               r + "saint.jpg", r + "saint.jpg",
               r + "saint.jpg", r + "saint.jpg" ];


        textureCube = THREE.ImageUtils.loadTextureCube( urls );

        // Skybox

        shader = THREE.ShaderLib[ "cube" ];
        shader.uniforms[ "tCube" ].value = textureCube;

        cubeMaterial = new THREE.ShaderMaterial( {

          fragmentShader: shader.fragmentShader,
          vertexShader: shader.vertexShader,
          uniforms: shader.uniforms,
          depthWrite: false,
          side: THREE.DoubleSide

        } )

        cubeMesh = new THREE.Mesh( new THREE.CubeGeometry( 10000, 10000, 10000), cubeMaterial );
        scene.add( cubeMesh );

        


      }

      function backMap(id,png){
        var res="jpg"
        if(png)res="png"
        var r = "textures/cube/"+id+"/";
        var urls = [ r + "px."+res, r + "nx."+res,
               r + "py."+res, r + "ny."+res,
               r + "pz."+res, r + "nz." +res];

        textureCube = THREE.ImageUtils.loadTextureCube( urls );
        //for (var i = 0; i < dae.children.length; i++) {
        //  dae.children[i].material.envMap=textureCube;
        //}
        cubeMesh.material.envMap=textureCube;
        shader.uniforms[ "tCube" ].value = textureCube;
      }

      function rotateCamera(id){
        var rotations = {
          0: [48.960263301145616, -337.5865362962336, -35.39668949880825,5.622000000000212,0,0,0],
          1: [-397.14054068097863, -93.42120207523128, -165.11618457368905,8.576000000000686,0,0,0],
          2: [156.8190310401086,  -296.4761946976976,  -71.58463508256517,0,0,0,0],
          3: [-136.60473766685212, -60.32660035640005, -554.3782214233592,0.3050000000000002,-182.3301203505282, 75.61109357691048, 159.8144193319139],
          4: [ 0, 0, -400,0,0,0,0]
        }
        //camera.position.x=rotations[id][0];
        //camera.position.y=rotations[id][1];
        //camera.position.z=rotations[id][2];
        //dae.rotation.z=rotations[id][3];

        TweenMax.to(camera.position,1,{x:rotations[id][0],y:rotations[id][1],z:rotations[id][2],onComplete:rotateCameraDone})
        TweenMax.to(dae.rotation,1,{z:rotations[id][3]})
        TweenMax.to(controls.target,1,{x:rotations[id][4],y:rotations[id][5],z:rotations[id][6]})
        animating=true;
      }

      function rotateCameraDone(){
        animating=false;
      }

      function onDocumentMouseMove( event ) {

        mouseX = ( event.clientX - windowWidth / 2 );
        mouseY = ( event.clientY - windowHeight / 2 );

      }

      function updateSize() {

        if ( windowWidth != window.innerWidth || windowHeight != window.innerHeight ) {

          windowWidth  = window.innerWidth;
          windowHeight = window.innerHeight;

          renderer.setSize ( windowWidth, windowHeight );

        }

      }

      function animate() {

        render();
        stats.update();

        requestAnimationFrame( animate );
      }

      function render() {

        updateSize();
        if(dae && controls.autoRotate)dae.rotation.z+=.001
        if(!animating){
          controls.update();
        }else{
          camera.lookAt(controls.target)
        }

        for ( var ii = 0; ii < views.length; ++ii ) {

          view = views[ii];
          camera = view.camera;

          camera.position =views[0].camera.position;
          camera.rotation =views[0].camera.rotation;
          //camera.lookAt( scene.position );


          light.position.x=camera.position.x;
          light.position.y=camera.position.y;
          light.position.z=camera.position.z;

          view.updateCamera( camera, scene, mouseX, mouseY );



          // multiply by the device pixel ratio in order to properly support high DPI displays
          var left   = Math.floor( windowWidth  * view.left ) * dpr;
          var bottom = Math.floor( windowHeight * view.bottom ) * dpr;
          var width  = Math.floor( windowWidth  * view.width ) * dpr;
          var height = Math.floor( windowHeight * view.height ) * dpr;
          renderer.setViewport( left, bottom, width, height );
          renderer.setScissor( left, bottom, width, height );
          renderer.enableScissorTest ( true );
          renderer.setClearColor( view.background );

          camera.aspect = width / height;
          camera.updateProjectionMatrix();

          renderer.render( scene, camera );
        }

      }

    </script>



  </body>

</html>
